html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}


main {
  column-count: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 260px;
  position: relative;
  right:30px;
}

summary {
  text-align: right;
  padding-top: 17px;
  cursor: pointer;
  list-style: none;
  font-size: 17px;
  font-family: PT Mono,monospace;
}

h1{
  position: relative;
  left: 35px;
  color: rgba(33,36,44,.64);
  font-family: PT Sans,Helvetica,Arial,sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 40px;
}

strong {
  color: black;
}

.imag {
  position: relative;
  left: 15%;
  border-radius: 8px;  
}

.sparkle {
  position: relative;
  right: 8%;
  top: -300px;
  width: 150px;
}

.projects-wrapper {
  background: #ffebf2;
  margin-top: -210px;
  padding: 140px;
  border-radius: 8px;
}
















